@charset "utf-8";

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */

input[type='radio'] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -0.7em;
}

sub {
  bottom: -0.25em;
}

/* 1.2. Clear Fix
   ========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: ' ';
}

.cf:after {
  clear: both;
}

.futura-bold-font {
  font-family: 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica,
    sans-serif;
  font-style: normal;
  font-weight: bold;
}

body {
  font-family: Helvetica, sans-serif;
}

.wrapper {
  width: 1000px;
  margin: 0 auto;
}

/* Hamburger icon starts here */

.hamburger {
  color: transparent;
  border-top: 6px solid #170f4f;
  border-bottom: 6px solid #170f4f;
  border-radius: 4px;
  height: 4px;
  width: 27px;
  cursor: pointer;
  display: none;
}

.close_menu_btn {
  color: #170f4f;
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;
  position: fixed;
  z-index: 5;
  right: 30px;
  top: 30px;
  display: none;
}

/* Hamburger icon ends here */

/* Header section starts here. */

.container {
  overflow: hidden;
}

header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

header nav ul {
  display: flex;
  align-items: center;
  list-style: none;
}

header ul li {
  margin-left: 15px;
}

.dropdown::after {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f078';
  color: #ccc;
  font-size: 13px;
  cursor: pointer;
  position: relative;
}

header nav ul li:first-child ul {
  position: absolute;
  flex-direction: column;
  padding-top: 10px;
  display: none;
}

header nav ul li:first-child ul li {
  margin: 5px 0 0 0;
}

header nav ul li:first-child:hover ul {
  transition: 0.5s;
  display: block;
}

header nav ul li a {
  text-decoration: none;
  color: #170f4f;
  text-transform: capitalize;
  font-weight: 600;
}

header nav ul li a:hover {
  color: #43bcc3;
  transition: 0.5s;
}

header nav ul li:nth-child(8),
header nav ul li:nth-child(7) {
  border: 1px solid #170f4f;
  padding: 7px 15px;
}

header nav ul li:nth-child(7) {
  margin-left: 55px;
}

/* Header section ends here. */

/* Main section starts here. */

.form {
  display: flex;
  height: 770px;
  width: 1000px;
  margin: 0 auto 100px auto;
}

.form .wrapper,
.form aside .wrapper {
  width: auto;
}

.form .wrapper {
  flex: 2;
}

.form aside {
  flex: 1;
  align-self: flex-end;
}

.form h1 {
  font-size: 45px;
  color: #170f4f;
  font-weight: 600;
}

.form h1::first-letter {
  text-transform: uppercase;
}

.form_title p {
  color: #170f4f;
  width: 470px;
  margin-top: 20px;
  line-height: 1.5;
}

.form_title p::first-letter {
  text-transform: uppercase;
}

.form_data {
  display: block;
  width: 400px;
  outline: none;
  border: none;
  border-bottom: 1px solid #170f4f;
  color: #170f4f;
  padding: 10px 0;
}

.form_title form {
  margin-top: 80px;
  padding-left: 30px;
}

.form_title form input {
  margin-top: 15px;
  padding-left: 10px;
}

::placeholder {
  color: #170f4f;
}

.form_error {
  outline: 1px solid rgb(226, 76, 76);
  border: none;
  box-shadow: inset 1px 1px 10px rgb(255, 169, 169);
}

.form_success {
  outline: 1px solid green;
  border: none;
  box-shadow: inset 1px 1px 11px rgb(91, 216, 91);
}

/* form .form_field span{
  font-size: 12px;
  margin-top: 5px;
  color: rgb(226, 76, 76);
} */

form .form_field span::first-letter {
  text-transform: uppercase;
}

.form_hasno_err::after{
  content: attr(data-forminput-name) " can not include any number, spaces and any special characters!";
  color: rgb(226, 76, 76);
  font-size: 12px;
}

.form_charlen_err::after{
  content: attr(data-forminput-name) " must be 2 to 15 characters long!";
  color: rgb(226, 76, 76);
  font-size: 12px;
}

.form_field_valid::after{
  content: "Valid.";
  color: green;
  font-size: 12px;
}

.field_required::after{
  content: attr(data-forminput-name) " field is required!";
  color: rgb(226, 76, 76);
  font-size: 12px;
}

.null_field_msg::after {
  content: 'Please fill all the fields! and make them valid!';
  font-weight: 600;
  color: rgb(226, 76, 76);
}

.modal_terms_error::after {
  content: 'Please accept terms and conditions to proceed.';
  position: absolute;
  bottom: 0;
  text-align: center;
  font-weight: 600;
  color: rgb(226, 76, 76);
}

.success_field_msg::after {
  content: 'Form is send successfully!';
  font-weight: 600;
  color: #170f4f;
}

.checkbox {
  display: inline-block;
}

.form_title span {
  color: #170f4f;
  font-size: 12px;
  display: inline-block;
  margin: 50px 0 10px 0;
}

.form_submit {
  display: block;
  background-color: #43bcc3;
  color: #170f4f;
  text-transform: capitalize;
  border: none;
  padding: 10px 17px;
  font-weight: 600;
  margin-bottom: 10px;
}

.form_submit:hover {
  color: #43bcc3;
  background-color: black;
  transition: 0.5s;
}

aside h3 {
  color: #170f4f;
  font-size: 25px;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 40px;
}

aside ul {
  list-style: none;
}

aside ul li {
  border-bottom: 1px solid #ccc;
}

aside ul li:last-child {
  border: none;
}

aside ul li img {
  display: inline-block;
  margin-top: 20px;
}

aside ul li h4 {
  color: #170f4f;
  font-weight: 600;
  margin: 10px 0;
}

aside ul li h4::first-letter {
  text-transform: uppercase;
}

aside ul li p {
  color: #170f4f;
  font-size: 12px;
  margin-bottom: 10px;
}

aside ul li p::first-letter {
  text-transform: uppercase;
  line-height: 1.5;
}

aside li a {
  display: inline-block;
  text-decoration: none;
  color: #170f4f;
  background-color: #ccc;
  padding: 7px 15px;
  font-size: 12px;
  font-weight: 600;
  margin: 26px 0;
}

aside li a::first-letter {
  text-transform: uppercase;
}

aside li a:hover {
  color: #43bcc3;
  background-color: black;
  transition: 0.5s;
}

/* Terms and conditions modal style starts here. */

.modal {
  position: fixed;
  z-index: 3;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: #3d414abf;
  display: none;
}

.modal_box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 1px;
  padding: 20px 20px 50px 20px;
}

.modal_close_btn {
  color: #170f4f;
  font-weight: 600;
  font-size: 22px;
  cursor: pointer;
  padding: 5px 5px 5px 0;
}

.modal_icon {
  text-align: center;
}

.modal_terms_msg span {
  font-size: 18px;
  color: #170f4f;
  display: inline-block;
  margin: 20px 0;
}

.modal_terms_msg span::first-letter {
  text-transform: uppercase;
}

.modal_terms_msg input {
  display: inline-block;
}

.modal_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.modal_btn li {
  padding: 7px 15px;
  color: #fff;
  text-transform: capitalize;
  cursor: pointer;
  font-weight: 600;
}

.modal_btn li:first-child {
  background-color: #170f4f;
  margin-right: 2px;
}

.modal_btn li:nth-child(2) {
  background-color: #43bcc3;
  margin-left: 2px;
}

.show_desktop_item{
  display: block;
}

.hide_desktop_item{
  display: none;
}

/* Terms and conditions modal style ends here. */

/* Contact us section starts here */

.contact_us {
  background-color: #e7e6ed;
  padding: 70px 0 140px 0;
}

.contact_us ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact_us ul li {
  flex-basis: 30%;
}

.contact_us ul li h2 {
  color: #170f4f;
  font-size: 25px;
  font-weight: 600;
  line-height: 1.5;
}

.contact_us ul li p {
  color: #170f4f;
  line-height: 1.5;
  font-size: 15px;
  margin-top: 10px;
}

.contact_us ul li p::first-letter {
  text-transform: uppercase;
}

.contact_us ul li h2::first-letter {
  text-transform: uppercase;
}

.contact_us ul li h4 {
  color: #170f4f;
  font-weight: 600;
  font-size: 19px;
}

.contact_us ul li h4::first-letter {
  text-transform: uppercase;
}

.contact_us ul li span {
  color: #170f4f;
  display: block;
  margin: 10px 0;
  font-size: 15px;
  border-bottom: 1px solid #170f4f;
  padding-bottom: 20px;
}

/* Contact us section ends here. */

/* Main section ends here. */

/* Footer section starts here. */

footer {
  background-color: #170f4f;
}

.footer_top {
  display: flex;
  justify-content: space-between;
  padding: 70px 0 140px 0;
}

.footer_top ul {
  list-style: none;
}

.footer_top ul li:first-child {
  color: #43bcc3;
  font-weight: 600;
  text-transform: capitalize;
  font-size: 12px;
  margin-bottom: 30px;
}

.footer_top ul li a {
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
  font-size: 18px;
  margin-bottom: 10px;
  display: inline-block;
}

.footer_top ul li a:hover {
  color: gray;
  transition: 0.5s;
}

.footer_bottom ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 30px 0;
  position: relative;
}

.footer_bottom ul::before {
  content: '';
  border-top: 1px solid #423984;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.footer_bottom ul::after {
  content: '';
  border-top: 1px solid #423984;
  width: 100vw;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.footer_bottom h2 {
  text-transform: uppercase;
  color: #fff;
  font-size: 22px;
}

.footer_bottom h2 span,
.footer_bottom li h4 {
  color: #43bcc3;
  font-size: 12px;
  display: block;
  text-transform: lowercase;
  font-weight: 600;
  margin-bottom: 5px;
}

.footer_bottom li h4 {
  margin-bottom: 15px;
}

.footer_bottom ul li:nth-child(2) a {
  color: transparent;
  text-decoration: none;
}

.facebook::before {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 900;
  content: '\f39e';
  color: #fff;
}

.twitter::before {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 900;
  content: '\f099';
  color: #fff;
}

.insta::before {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 900;
  content: '\f16d';
  color: #fff;
}

.linked_in::before {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 900;
  content: '\f0e1';
  color: #fff;
}

.footer_bottom h2 span::first-letter,
.footer_bottom li h4::first-letter {
  text-transform: capitalize;
}

.terms_and_conditions {
  color: #fff;
  font-size: 12px;
  padding: 10px 0;
  text-transform: capitalize;
}

/* Footer section ends here. */

/* Responsive stylesheet starts here. */

@media only screen and (max-width: 1025px) {
  /* Hamburger icon starts here */

  .hamburger {
    display: block;
  }

  .showmenu {
    display: block;
  }

  .hidemenu {
    display: none;
  }

  /* Hamburger icon ends here */

  /* Header section starts here. */

  .wrapper {
    width: auto;
  }

  header .wrapper {
    justify-content: space-around;
  }

  header nav {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #44fde3f7;
    background-size: cover;
    text-align: center;
    width: 100vw;
    height: 100vh;
  }

  header nav ul {
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
  }

  header nav ul li:first-child ul {
    padding: 0;
    margin-left: -100px;
    top: 5px;
  }

  header nav ul li,
  header nav ul li:nth-child(7) {
    margin: 10px 0 0 0;
  }

  /* Header section ends here. */
  /* Main section starts here. */

  .form {
    flex-direction: column;
    width: auto;
    height: auto;
    align-items: center;
  }

  .form h1,
  .form_title p,
  aside h3 {
    padding: 0 10px;
  }

  .form_title {
    margin-bottom: 80px;
  }

  .form_title p {
    width: auto;
  }

  .form_title span {
    margin: 0;
  }

  .form_data {
    width: auto;
  }

  .form aside {
    align-self: auto;
  }

  aside ul {
    padding: 0 30px;
  }

  .contact_us {
    padding: 70px 10px 140px 10px;
  }

  .contact_us ul {
    flex-direction: column;
    align-items: stretch;
  }

  .contact_us ul li {
    margin-top: 30px;
  }

  /* Main section ends here. */

  /* Terms and conditions modal style starts here. */

  .modal_box {
    width: 75vw;
  }

  .modal_btn {
    flex-direction: column;
  }

  .modal_terms_msg input {
    margin: 0 auto;
    width: 20px;
  }

  .modal_btn li:nth-child(2) {
    margin-top: 10px;
  }

  /* Terms and conditions modal style ends here. */

  /* Footer section starts here. */

  .footer_top {
    flex-direction: column;
    padding: 70px 0 140px 30px;
  }

  .footer_top ul li:first-child {
    margin-top: 30px;
  }

  .footer_bottom ul {
    padding: 30px 0 30px 10px;
    flex-direction: column;
  }

  .footer_bottom ul li:nth-child(2) {
    margin-top: 30px;
  }

  /* Footer section ends here. */
}

/* Responsive stylesheet ends here. */
